body {
	background-color:#eeeeec;
	font-family: sans-serif;
    font-size:10pt;
    color:#2e3436;   
}
a {
    color:#2e3436;   
}
.ui-autocomplete {
	max-height: 50%;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

.ev_name {
    color:#ce5c00;    
}
.tooltip {
    white-space:nowrap;    
}
.tooltip ul {
    margin:3px;    
}
#credits {
	position:absolute;
	bottom:0;
	right:5px;
}

#letters {
	position:absolute;
	text-align:center;
	right:0;
	left:0px;
	top:120px;
	height:30px;
}

div.spinner {
    position:absolute;    
    left:20%;
    right:0;
    bottom:0;
    z-index:0;
    top:40%;
    text-align:center;
}
div#letters label {
    font-size:10pt;   
}
div.search {
    position:absolute;
    left:5px;
	top:155px;
    right:80%;
}
div.search input {
    width:96%;
}

#games {
	position:absolute;
	left:3px;
	bottom:3px;
	top:185px;
	right:80%;
	overflow:auto;
	margin:0 !important;
	padding:0 !important;
}
#games label {
    font-size:9pt;
    width:98%;
    padding:0 !important;
    margin:0 !important;
    overflow:hidden;
    border-radius:0;
}
#games input {
display:none !important;
}

#game {
    display:none;
	position:absolute;
	left:20%;
    margin-left:10px;
	top:160px;
	right:10px;
	bottom:10px;
	overflow:hidden;
}
.game_versions {
    width:100%;
    text-align:center;
}
.game_version {
    padding:10px;
    display:none;
    position:absolute;
    bottom:5px;
    top:90px;
    left:0;
    right:0;
	overflow:auto !important;
}
.game_version:first-of-type {
	display:block;
}
#game h1 {
	width:100%;
	text-align:center;
}
.locations {
    float:left;
    width:48%;
}
.locations li {
    margin:10px;    
}
.files {
    float:left;
    width:48%;
}
.version_footer {
    padding-top:10px;
    width:100%;
    clear:both;
}

dl.ev_example dt {
    margin:5px;    
}
