RewriteEngine On
RewriteRule ^.*admin/.*$ - [L]
RewriteRule ^.*api/.*$ - [L]
RewriteRule ^.*css/.*$ - [L]
RewriteRule ^.*images/.*$ - [L]
RewriteRule ^.*js/.*$ - [L]
RewriteRule ^.*libs/.*$ - [L]
RewriteRule ^.+.php$ - [L]
RewriteRule ^([^/]+)/$ index.php?game=$1 [L]
RewriteRule ^([^/]+)$ /$1/ [R,L]
